@define-color bg0 #050505;
@define-color bg1 #21252b;
@define-color bg2 #2c323a;
@define-color bg3 #2e4451;
@define-color bg4 #4b5263;

@define-color red #e08c75;
@define-color orange #d19a66;
@define-color yellow #e5c07b;
@define-color green #98c379;
@define-color aqua #56b6c2;
@define-color blue #61afef;
@define-color purple #c678dd;
@define-color white #ffffff;

@define-color fg #abb2bf;

@define-color grey0 #5c6370;
@define-color grey1 #828997;
@define-color grey2 #abb2bf;
