* {
  font-family: "FiraCode Nerd Font", Cantarell, Noto Sans, sans-serif;
  font-size: 16px;
}

#window {
  padding: 0 10px;
}

window#waybar {
  all: unset
}

.modules-left {
  padding: 5px;
  margin: 10 0 5 10;
  border-radius: 40px;
  background: #1a1b26;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
  padding: 5px;
  margin: 10 0 5 0;
  border-radius: 40px;
  background: #1a1b26;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
  padding: 5px;
  margin: 10 10 5 0;
  border-radius: 40px;
  background: #1a1b26;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 8px;
  color: #565f89;
  border: 3px solid rgba(9, 85, 225, 0);
  border-radius: 10px;
  min-width: 33px;
}

#workspaces button.visible {
  color: #a9b1d6;
}

#workspaces button.focused {
  border-top: 3px solid #7aa2f7;
  border-bottom: 3px solid #7aa2f7;
}

#workspaces button.urgent {
  background-color: #a96d1f;
  color: white;
}

#workspaces button:hover {
  box-shadow: inherit;
  border-color: #bb9af7;
  color: #bb9af7;
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
  color: #7aa2f7;
}

#workspaces button.focused:hover {
  color: #bb9af7;
}

#pulseaudio,
#tray,
#battery,
#cpu,
#language,
#custom-gpu,
#memory,
#network,
#pulseaudio,
#backlight,
#custom-media {
  margin: 0px 0px 0px 10px;
  padding: 0px 7px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
