@import 'colors/colors.css';

* {
  border: none;
  border-radius: 0px;

  font-family: "FiraCode Nerd Font";
  font-weight: bold;

  font-size: 16px;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @bg0;
  border: 1px solid @bg3;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 6px;
}

#workspaces {
  background-color: @bg0;
  padding: 5px 3px;
  margin: 0 0 0 12px;
  border-radius: 18px;
  border: 1px solid @bg3;
  color: @fg;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 45px;
  color: transparent;
  background-color: @bg0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;
  min-width: 45px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}

#workspaces button:hover {
  background-color: @purple;
  color: @bg0;
  border-radius: 16px;
  min-width: 45px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
  border-radius: 16px;
  min-width: 45px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#battery,
#pulseaudio,
#network,
#clock,
#backlight,
#language,
#custom-notification {
  background-color: @bg0;
  padding: 0 15px 0 15px;
  margin: 0 0 0 12px;
  border-radius: 45px;
  border: 1px solid @bg3;
}

#clock {
  color: @blue;
}

#pulseaudio {
  color: @yellow;
}

#network {
  color: @purple;
}

#backlight {
  color: @white;
}

#language {
  color: @orange;
}

#battery {
  color: @white;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

#custom-notification {
  color: @fg;
  margin: 0 12px 0 12px;
}
